@import "compass/css3/transform";

@import 'partials/colors';
@import 'partials/typography';

body { 
	font-family: 'geomanist_regularregular';
}

body:before {
	display: none;
}

.site-footer {
	margin-top: 1.6471em;
	background: $white1;
	text-align: center;
}

p {
	clear: both;
}

ul li {
	list-style-type: none;
	float: left;
	padding: 1em;

	a {
		color: $blue1;
	}
}

.orange {
	color: $orange1;
}

.menu {
	clear: both;
	background: white;
	display: inline-block;
	width: 100%;
}

.logo {
	background: $white1;
}

.logo-text {
	font-size: 2.2em;
	float: right;
	text-align: right;
	line-height: 1.2em;
	padding: 0.8em 0.4em 0 0;
}

.social {
}

.social .icons {
	width: 100%;
	background: #000000;
	float: right;
}

.social .icons img {
	text-align: center;
}

.tech-chart {
	display: inline-flex;
}

.entry-title {
	color: $orange1;
}

.rotate90 {
	@include transform(rotate(90deg));
	width:56%;
	margin-left: 22%;
	margin-top: -18%;
}

// Portfolio

section.portfolio {
	display: inline-flex;
	flex-direction: column;
	width: 100%;

	a {
		border: 0;

		img {
			width: 100%;
			border: 1px solid $grey1;
		}
	}
}

.desktop-view {
	a {
		border: 0;
	}
}

@media screen and (min-width: 46.25em) {
	.logo-text {
		padding: 0.5em 0.4em 0 0;
	}

	section.portfolio {
		a {
			padding: 1%;
		}
	}
}

@media screen and (min-width: 55em) {
	header {
		margin: 0 8.3333%;
	}

	header.entry-header {
		margin:0;
	}

	section.portfolio {
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
		
		a {
			margin: auto;

			img {
				width: 100%;
			}
		}
	}

	.mobile-view {
		&-images {
			display: inline-flex;

			a {
				margin: auto;
				padding: 5%;
				border: 0;

				img {
					width: 100%;
				}
			}
		}
	}
}

@media screen and (min-width: 59.6875em) {
	header {
		margin: 0 8.3333%;
	}

	header.entry-header {
		margin:0;
	}

	.site-footer {
		float: inherit;
		width: auto;
		margin: 1.6471em 8.3333% 0 8.3333%;
	}
}

@media screen and (min-width: 68.75em) {
	header {
		margin: 0 8.3333%;
	}

	header.entry-header {
		margin:0;
	}
}

@media screen and (min-width: 77.5em) {
	header {
		margin: 0 8.3333%;
	}

	header.entry-header {
		margin:0;
	}

	.logo-text {
		padding: 0.3em 0.4em 0 0;
	}
}

@media screen and (min-width: 87.6875em) {
	body:before {
		display: none;
	}

	header {
		margin: 0 8.3333%;
	}

	footer {
		margin: 0 8.3333%;
	}

	header.entry-header {
		margin:0;
	}
}